h1 {
margin-left: 20px;
text-decoration: underline;
}
#body{
    background-color: rgb(255,230,212);
}
#average{
 margin-left: 600px;   
}
form li {
list-style: none;
margin-bottom: 5px;
}

form ul li label{
float: left;
clear: left;
width: 100px;
text-align: right;
margin-right: 10px;
font-family:Verdana, Arial, Helvetica, sans-serif;
font-size:14px;
}

form ul li input, select, span {
float: left;
margin-bottom: 10px;
}

[type="submit"] {
clear: left;
margin-left: 0px;
font-size:15px
}

p {
margin-left: 70px;
font-weight: bold;
}